@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: #F8FAFF;
}

.input-icon {
  position: relative;
}
.card{
  border: 0;
}
.btn-default-custom{
  border: 1px solid #6f7279;
}
.btn-default-custom:hover{
  border: 1px solid #4980ff;
  color: #4980ff;
}

.input-icon .form-control:not(:last-child) {
  padding-right: 2.5rem;
}

.input-icon .form-control:not(:first-child) {
  padding-left: 2.5rem;
}

.input-icon-addon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  color: #9aa0ac;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 2.5rem;
  pointer-events: none;
}

.input-icon-addon:last-child {
  left: auto;
  right: 0;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
